
  <div class="resultados-paso3">
    <div class="component-container-borde">
      <div class="titulo-general-long">
        <p>Tarifas del intercambio de energía con la red</p>
      </div>
  
      <div class="informacion-general">      
        <div class="datos">
  
            <div class="icono">
                <img src="assets/icon-tarifa.png"  
                class="tamaño-icon" 
                alt="Icono de tarifa">
            </div>
    
          <div class="resultado-centro">
            <p class="resultado">  {{ tarifaIntercambioUsdkWh | number:'1.3-3'}} </p>
            <p class="unidad">USD/kWh</p>
          </div>
  
        </div>
      </div>
  
    </div>
  </div>