<div class="tarifa-container">
  <div class="custom-select" [class.open]="isDropdownOpen" (click)="toggleDropdown($event)">
    <div class="custom-select-trigger">
      <span [class.placeholder]="!tarifaContratada">
        {{ tarifaContratada ? getSelectedLabel() : 'Seleccione su tipo de tarifa' }}
      </span>
      <span class="select-arrow" [class.rotated]="isDropdownOpen">&#9660;</span>
    </div>
    <div class="custom-options" *ngIf="isDropdownOpen">
      <div
        class="custom-option"
        *ngFor="let tarifa of tarifas"
        [class.selected]="tarifaContratada === tarifa.value"
        (click)="selectTarifa(tarifa.value, $event)"
      >
        {{ tarifa.viewValue }}
      </div>
    </div>
  </div>
</div>
<br />
<br />
<div class="potencia-contratada" *ngIf="tarifaContratada">
  <div class="potencia-content">
    <p [innerHTML]="getRangoPotenciaMensaje()"></p>
    <mat-slider
      *ngIf="!isPotenciaMaxDisabled()"
      [min]="getPotenciaMinimakW()"
      [max]="getPotenciaMaximakW()"
      step="1"
      (change)="onSliderChange($event)"
      discrete
      [displayWith]="formatLabel"
    >
      <input matSliderThumb #slider [(ngModel)]="potenciaMaxAsignadakW" />
    </mat-slider>
    <span class="unidad-component-simple-panel" *ngIf="!isPotenciaMaxDisabled()"
      >{{ potenciaMaxAsignadakW | number:'1.0-0' }} kW</span
    >
  </div>
</div>

