<div class="not-found-container">
    <h1 id="titulo">Servicio no disponible</h1>
    <div class="content">
      <img src="assets/img/503-unavailable.jpeg" alt="Calculadora fuera de línea" class="not-found-image">
      <h2>¡Oops! Parece que la calculadora actuamente no se encuentra disponible.</h2>
      <p>Por favor inténtalo nuevamente más tarde.</p>
      <button id="boton-volver" (click)="volverAlInicio()">
        <span class="material-icons">arrow_back</span>
        Volver al inicio
      </button>
    </div>
  </div>

