<div class="resultados-paso3">
  <div class="component-container-borde">
    <div class="titulo-general-long">
      <p>Emisiones CO<sub class="small-sub">2</sub> evitadas</p>
    </div>

    <div class="informacion-general">      
      <div class="datos">

        <div class="icono">
          <img src="assets/icon-CO2.png"  
           class="tamaño-icon" 
           alt="Icono de Emisiones CO2">
       </div>       
  
        <div class="resultado-centro">
          <p class="resultado">  {{carbonOffset | number:'1.2-2'}} </p>
          <p class="unidad">tCO<sub class="small-sub">2</sub>/año</p>
        </div>

      </div>
    </div>

  </div>
</div>