<div class="resultados-paso3">
    <div class="component-container-borde">
      <div class="titulo-general-long">
        <p>Potencia de la instalación</p>
      </div>
  
      <div class="informacion-general">      
        <div class="datos">
  
            <div class="icono">
                <img src="assets/icon-pot-intal.png"  
                class="tamaño-icon" 
                alt="Icono de potencia">
            </div>
    
          <div class="resultado-centro">
            <p class="resultado">  {{instalacionPotenciakW  | number:'1.2-2'  }} </p>
            <p class="unidad">kW</p>
          </div>
  
        </div>
      </div>
  
    </div>
  </div>