<span class="resultados" *ngIf="!isLoading">
  <div class="content" id="contentToConvert">
    <div class="titulo">
      <h2 id="titulo">RESULTADOS ESTIMADOS</h2>
    </div>
    <div class="info-container" id="info-container">
      <div class="action-buttons">
        <div class="editar-component" id="botonEdit">
          <button id="boton-editar" (click)="enabledDrawing()">
            Editar área
            <span class="material-icons">edit</span>
          </button>
        </div>

        <div class="descargar-enviar-component">
          <button id="downloadButton" (click)="downloadPDF()">
            <mat-icon class="icono-secundario">download</mat-icon>
            <div
              class="custom-loader"
              *ngIf="isDownloading || isSendingMail || isCalculating"
            ></div>
          </button>
          <br />
          <button id="emailButton" (click)="openModal()">
            <mat-icon class="icono-secundario">email</mat-icon>
          </button>
        </div>
      </div>

      <div class="informacion" id="cuadroInformativo">
        <div class="container-ingreso-datos" id="appPanelesId">
          <app-paneles
            [dimensionPanel]="dimensionPanel"
            [panelCapacityW]="panelCapacityW"
          ></app-paneles>
        </div>
        <!--container-ingreso-datos-->

        <div class="container" id="ahorrosId">
          <div class="item"><app-ahorros></app-ahorros></div>

          <div class="item" id="costoInstalacionId">
            <app-costo></app-costo>
          </div>

          <div class="item">
            <app-plazo></app-plazo>
          </div>

          <div class="item">
            <app-potencia></app-potencia>
          </div>

          <div class="item">
            <app-energia
              [yearlyEnergyAckWhInitial]="yearlyEnergyAckWhDefault"
              (recalculoIniciado)="onRecalculoIniciado($event)"
              (recalculoTerminado)="onRecalculoTerminado($event)"
            ></app-energia>
          </div>

          <div class="item"><app-superficie></app-superficie></div>

          <div class="item">
            <app-tarifa-intercambio></app-tarifa-intercambio>
          </div>

          <div class="item">
            <app-emisiones
              [carbonOffsetFactorTnPerMWh]="carbonOffsetFactorTnPerMWh"
            ></app-emisiones>
          </div>
        </div>
        <!--container-->

        <div class="container-graficos">
          <div class="item-grafico" id="graficos">
            <app-graficos
              [periodoVeinteanalEmisionesGEIEvitadasOriginal]="
                periodoVeinteanalEmisionesGEIEvitadasOriginal
              "
              [periodoVeinteanalFlujoEnergia]="getFlujoEnergia()"
              [periodoVeinteanalFlujoIngresosMonetarios]="
                getFlujoIngresosMonetarios()
              "
              [periodoVeinteanalGeneracionFotovoltaica]="
                getGeneracionFotovoltaica()
              "
              [consumoTotalAnual]="consumoTotalAnual"
              [yearlyEnergyInitial]="yearlyEnergyAckWhDefault"
            >
            </app-graficos>
          </div>
        </div>
        <!--container-graficos-->

        <div class="container-hipotesis" id="hipotesisId">
          <h3 id="titulo-hipotesis">Hipótesis adoptadas</h3>
          <p id="texto-hipotesis">
            Los resultados de la evaluación a partir de la aplicación
            “Generación Solar Distribuida San Juan”, deben considerarse
            aproximados y no representan opinión ni dictamen técnico del
            E.P.R.E. Se reproducen a modo de referencia para el desarrollo de
            estudios técnicos fundamentados y particularizados en cada
            Suministro, habiéndose adoptado las siguientes hipótesis:
          </p>
          <p class="hipotesis">
            ⦁ Categoría de tarifa seleccionada = {{ categoriaTarifa }}.
          </p>
          <p class="hipotesis">
            ⦁ Potencia contratada=
            {{ potenciaContratadaHip / 1000 | number : "1.0-0" }} kW
          </p>
          <p class="hipotesis">
            ⦁ Potencia de cada panel = {{ potenciaPanelHip }} W.
          </p>
          <p class="hipotesis">
            ⦁ Eficiencia de la instalación =
            {{ eficienciaInstalacion * 100 | number : "1.2-2" }} %
          </p>
          <p class="hipotesis">
            ⦁ Degradación anual de paneles =
            {{ degradacionAnualPanel * 100 | number : "1.2-2" }} %
          </p>
          <p class="hipotesis">
            ⦁ Proporción de energía autoconsumida =
            {{ proporcionAutoconsumo * 100 | number : "1.2-2" }} %
          </p>
          <p class="hipotesis">
            ⦁ Proporción de energía inyectada =
            {{ proporcionInyectada * 100 | number : "1.2-2" }} %
          </p>
          <p class="hipotesis">
            ⦁ Equipo de medición =
            {{ costoEquipoMedicion | number : "1.0-0" }} USD
            <span *ngIf="categoriaTarifa.includes('T1'); else noIvaText">
              (incluye IVA).</span
            >
            <ng-template #noIvaText> (no incluye IVA).</ng-template>
          </p>
          <p class="hipotesis">
            ⦁ Mantenimiento anual = 1 % del costo de la instalación.
          </p>
          <p class="hipotesis">
            ⦁ Tasa de crecimiento tarifas y de descuento (USD) =
            {{ tasaInflacionUsd * 100 | number : "1.2-2" }} %
          </p>
          <p class="hipotesis">⦁ Tarifas vigentes a {{ fechaActual }}.</p>
          <p></p>
          <p></p>
          <hr />
          <p class="hipotesis">Fecha de su consulta: {{ timestamp }}</p>
          <p class="hipotesis">
            Generación Solar Distribuida San Juan v.1.0.1. (Septiembre 2024)
          </p>
        </div>
        <!--hipotesis-container-->

        <div class="button-container">
          <div class="boton">
            <button id="boton-volver-paso3" (click)="goBack()">
              <span class="material-icons">chevron_left</span> Volver
            </button>
            <br />
            <button id="boton-siguiente" (click)="mostrarAdvertencia()">
              Nuevo cálculo
              <span class="material-icons">chevron_right</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal" [ngClass]="{ mostrar: mostrarModal }">
    <div class="modal-contenido">
      <p>
        ¿Estás seguro de que deseas salir? Cualquier información no guardada se
        perderá.
      </p>
      <div class="botones-modal">
        <button id="boton-volver" (click)="cancelarSalir()">Cancelar</button>
        <button id="boton-siguiente" (click)="confirmarSalir()">Aceptar</button>
      </div>
    </div>
  </div>
</span>

<div class="modal-backdrop" *ngIf="isModalOpen">
  <div class="modal-container">
    <h2>Enviar Email</h2>
    <p>Por favor ingrese su correo electrónico.</p>
    <div class="input-container">
      <input
        id="email"
        [(ngModel)]="email"
        type="email"
        placeholder="Ingrese su correo electrónico"
      />
    </div>
    <div class="modal-actions">
      <button id="boton-volver" (click)="closeModal()">Cancelar</button>
      <button id="boton-siguiente" (click)="sendEmail()">Enviar</button>
    </div>
  </div>
</div>
