
<div class="resultados-paso3">
  <div class="component-container-borde">
    <div class="titulo-general">
      <p>Costo de la instalación</p>
    </div>

    <div class="informacion-general">      
      <div class="datos">

        <div class="icono">
          <img
            src="assets/icon-costo-inst.png"
            class="tamaño-icon"
            alt="Icono de costo"
          />
        </div>
  
        <div class="resultado-centro">
          <p class="resultado">  {{ costoInstalacionUsd | number:'1.0-0' }} </p>
          <p class="unidad">USD</p>
        </div>

      </div>
    </div>
    
  </div>
</div>
