<div class="modal-container" *ngIf="isVisible">
    <div class="modal-content">
      <span class="close-button" (click)="closeModal()">×</span>
      <h1 class="tutorial-title">Acceso a Información de Facturas</h1>

      <div class="instrucciones-content content-scroll">
          <h3 class="tutorial-section">Naturgy San Juan</h3>
          <p class="tutorial-text">
             Para consultar sus facturas de energía eléctrica, visite el sitio web oficial de Naturgy San Juan:
              <br>
              <a href="https://www.naturgysj.com.ar" target="_blank" class="tutorial-link">www.naturgysj.com.ar</a>
          </p>

          <h3 class="tutorial-section">D.E.C.SA.</h3>
          <p class="tutorial-text">
              Los usuarios de D.E.C.SA. pueden acceder a sus facturas a través del siguiente enlace:
              <br>
              <a href="https://www.decsacaucete.com.ar" target="_blank" class="tutorial-link">www.decsacaucete.com.ar</a>
          </p>
      </div>
    </div>
</div>
