<div class="resultados-paso3">
  <div class="component-container-borde">
    <div class="titulo-general">
      <p>Ahorros económicos</p>
    </div>

    <div class="informacion-general">      
      <div class="datos">

        <div class="icono">
          <img
            src="assets/icon-retorno.png"
            class="tamaño-icon"
            alt="Icono de dinero"
          />
        </div>
  
        <div class="resultado-centro">
          <p class="resultado">  {{ ahorrosUsd | number:'1.0-0'}} </p>
          <p class="unidad">USD-año</p>
        </div>

      </div>
    </div>

  </div>
</div>