<div class="toolbar">    
    <mat-toolbar id="toolbar-content">
      <span>

        <div class="epre">

          <a href="https://epresanjuan.gob.ar/" target="_blank">
            <img id="epre" src="assets/logo_epre.webp" alt="logo_epre">
        </a>
        
          <img id="solar" src="assets/Logo-AppSolar.png" alt="logo-app">
        </div>
  
        <div class="logo-varios">
          <a href="https://iee-unsjconicet.org/" target="_blank">
            <img id="conicet" src="assets/Logo-IEE-UNSJ-CONICET.jpg" alt="logo_conicet">
        </a>
          
          <a href="https://sj.sanjuan.gob.ar/" target="_blank">
            <img id="sanjuan" src="assets/sanjuan.webp" alt="logo_sanjuan">
        </a>
        </div>

      </span>
    </mat-toolbar>
</div>









 