<div class="container-graficos">
  <!-- Energia consumida y generada -->
  <div class="item-grafico">
    <div class="grafico-container-borde">
      <div class="head">
        <div class="icono">
          <img
            src="assets/icon-pot-intal.png"
            class="tamaño-icon"
            alt="Icono de Emisiones CO2"
          />
        </div>
        <div class="titulo">
          <p>Energía consumida y generada</p>
        </div>
        <div class="resultado-container">
          <div class="unidad">
            <p class="unidad-texto"></p>
          </div>
        </div>
      </div>
      <div class="informacion-general">
        <div class="grafico-component">
          <div id="chartSolLunaRef"></div>
        </div>
      </div>
    </div>
  </div>

  <!-- Ahorros anuales y punto de recupero de la inversión -->
  <div class="item-grafico">
    <div class="grafico-container-borde">
      <div class="head">
        <div class="icono">
          <img src="assets/icon-dinero.png" class="tamaño-icon" alt="ahorros" />
        </div>
        <div class="titulo">
          <p>Ahorros anuales y punto de recupero de la inversión</p>
        </div>
        <div class="resultado-container">
          <div class="resultado">
            <p class="resultado-numero"></p>
          </div>
          <div class="unidad">
            <p class="unidad-texto"></p>
          </div>
        </div>
      </div>
      <div class="informacion-general">
        <div class="grafico-component">
          <div id="chartAhorroRecuperoRef"></div>
        </div>
      </div>
    </div>
  </div>

  <!-- Emisiones CO2 evitadas acumuladas -->
  <div class="item-grafico">
    <div class="grafico-container-borde">
      <div class="head">
        <div class="icono">
          <img
            src="assets/icon-CO2.png"
            class="tamaño-icon"
            alt="Icono de Emisiones CO2"
          />
        </div>
        <div class="titulo">
          <p>Emisiones CO<sub class="small-sup">2</sub> evitadas acumuladas</p>
        </div>
        <div class="resultado-container">
          <div class="resultado">
            <p class="resultado-numero"></p>
          </div>
          <div class="unidad">
            <p class="unidad-texto"></p>
          </div>
        </div>
      </div>
      <div class="informacion-general">
        <div class="grafico-component">
          <div id="emisionesChartRef"></div>
        </div>
      </div>
    </div>
  </div>
   

</div>
