<div class="resultados-paso3">
    <div class="component-container-borde">
      <div class="titulo-general">
        <p>Superficie de Paneles</p>
      </div>
  
      <div class="informacion-general">      
        <div class="datos">
  
            <div class="icono">
                <img src="assets/icon-sup.png"  
                class="tamaño-icon" 
                alt="Icono de retorno">
            </div>
    
          <div class="resultado-centro">
            <p class="resultado">  {{areaPanelsSelected | customNumber}} </p>
            <!-- <p class="resultado">  {{selectedAreaM2 | customNumber}} </p> -->
            <p class="unidad">m<sup class="small-sup">2</sup></p>
          </div>
  
        </div>
      </div>
  
    </div>
  </div>