<div class="info-inicio">
  <div class="titulo-container">
    <div class="icono-inicio">
      <img src="assets/icon-panel.png" id="marca" alt="Icono de tarifa" />
    </div>
    <div class="titulo-inicio">
      <h2>PANELES A INSTALAR</h2>
    </div>
  </div>

  <div class="info-component-panel">
    <div class="cantidad-paneles">
      <h3>Cantidad de paneles</h3>
      <div class="cantidad-paneles-contenido">
        <div class="slider">
          <mat-slider
            class="custom-slider"
            min="4"
            [max]="maxAllowedPanels"
            step="1"
            (input)="onSliderChange()"
            (change)="onSliderChange()"
            discrete
            [displayWith]="formatLabel"
          >
            <input matSliderThumb [(ngModel)]="panelesSelectCount" [max]="maxAllowedPanels" (ngModelChange)="onSliderChange()" #slider />
          </mat-slider>
        </div>
        <div class="unidad-component-simple-panel">
          <p class="resultado-panel">{{ panelesSelectCount }}</p>
        </div>
      </div>
    </div>
   

    <div class="potencia-paneles">
      <h3 id="titulo-potencia">Potencia de paneles</h3>
      <div class="seleccion-potencia">
        <div class="power-custom-select" [class.open]="isPowerDropdownOpen" (click)="togglePowerDropdown($event)">
          <div class="power-select-trigger">
            <span>{{ getPowerLabel() }}</span>
            <span class="power-arrow" [class.rotated]="isPowerDropdownOpen">&#9660;</span>
          </div>
          <div class="power-options" *ngIf="isPowerDropdownOpen">
            <div class="power-option" *ngFor="let opt of powerOptions"
              [class.selected]="potenciaPanelesControl.value === opt.value"
              (click)="selectPower(opt.value, $event)">
              {{ opt.label }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr />

  <div class="texto-inferior-panel">
    <div class="titulo-detalle">
      <p>
        Dimensiones del panel: 
        <span id="dimension-panel"
          >{{ dimensionPanel.height * 100 | number:'1.2-2'}} x
          {{ dimensionPanel.width * 100 | number:'1.2-2'}}cm</span>
      </p>
    </div>
  </div>
</div>

