<div class="toolbar">

    <mat-toolbar id="toolbar-3">
        <div class="outer-circle">
          <div class="inner-circle" [class.selected]="currentStep === 1">
            <span id="span-pasos">1</span>
          </div>
        </div>
        <div class="outer-circle" >
          <div class="inner-circle" [class.selected]="currentStep === 2">
            <span  id="span-pasos">2</span>
          </div>
        </div>
        <div class="outer-circle">
          <div class="inner-circle" [class.selected]="currentStep === 3">
            <span  id="span-pasos">3</span>
          </div>
        </div>    
      </mat-toolbar>
      
  </div>
  
